<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trionoputra.roomsign">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REAL_GET_TASKS" />

    <application
        android:name="com.trionoputra.roomsign.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="DATABASE"
            android:value="com_trionoputra_roomsign.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.trionoputra.roomsign" />

        <activity android:name="com.trionoputra.roomsign.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.settings.SETTINGS" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.settings.SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.settings.WIRELESS_SETTINGS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.trionoputra.roomsign.CalendarActivity" />
        <activity
            android:name="com.trionoputra.roomsign.FormScheduleActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.trionoputra.roomsign.settings.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.trionoputra.roomsign.settings.SettingActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name="com.trionoputra.roomsign.SignInActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <service
            android:name="com.trionoputra.roomsign.services.RSService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":ServiceProcces"
            android:exported="true"></service>

        <receiver
            android:name="com.trionoputra.roomsign.services.ServiceReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="REFRESH_THIS" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="YouWillNeverKillMe" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
